body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  max-width: 1000px;
}

footer {
  text-align: right;
  color: midnightblue;
}

#creative {
  color: midnightblue;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  width: 300px;
  float: left;
  margin-right: 50px;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
    height: 200px;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    font-size: 60px;
  }

  .card {
    width: 100%;
  }

  .left {
    margin-bottom: 35px;
  }

  .tile-image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover; /*most important*/
  }
}